.one_card_body {
    display: flex;
    width: 150px;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
    border-radius: 10px;
    margin-right: 35px;
    margin-top: 20px;
}

.one_card_body span {
    margin-top: 5px;
}

.one_card_body img {
    margin-top: 15px;
    width: 100px;
    height: 100px;
}

.one_card_body:hover {
    cursor: pointer;
}
