.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    height: 5vh;
    border-bottom: 1px solid wheat;
}

.nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
    overflow-x:hidden;
    width: 100%;
}

.nav__list li a{
    text-decoration: none;
    color: white;
    word-wrap: break-word;
}

.nav__list li a:hover{
    color: red
}

.logo {
    margin-right: 10%;
    margin-left: 5%;
}

.logo a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    white-space: nowrap;
}